.form{
    width:100%;
}

.form-group{
    width:100%;
    margin:10px 20px;
}
.form label{
    display:block;
    width:100%;
    margin-bottom:5px;

}
.form input{
    width:100%;
    display:block;
}

.form input:focus{
    border:1px solid blue;
    border:1px solid black;
    border-radius:5px;
}