$width-setter:8;

//setting width for column classes
@mixin setwidth($column) {
    $num:( $width-setter)*$column;
    width:percentage($num/100);
    margin-right:0.33;
}


/* setting 12 columns for small devices */
@mixin setcolumnsForSmallDevice{
    $totalcolumns:12;
    @for $i from 1 through $totalcolumns{
        .column-#{$i}{
            @include setwidth($i);
            overflow-x:hidden;
            display:flex;
            flex-direction: column;
            padding:4px 4px;
            box-sizing:border-box;
            margin-top:20px;
            margin-bottom:20px;
            font-size:16px;
        }
        
    }
}

/* setting 12 columns for medium devices */
@mixin setcolumnsForMediumDevice{
    $totalcolumns:12;
    @for $i from 1 through $totalcolumns{
        .column-md-#{$i}{
            @include setwidth($i);
            overflow-x:hidden;
            display:flex;
            flex-direction: column;
            padding:6px 10px;
            box-sizing: border-box;
            margin-bottom:20px;
            margin-top:20px;
            font-size:20px;
        }
        
    }
}
/* setting 12 columns for Large devices */

@mixin setcolumnsForLargeDevice{
    $totalcolumns:12;
    @for $i from 1 through $totalcolumns{
        .column-lg-#{$i}{
            @include setwidth($i);
            overflow-x:hidden;
            display:flex;
            flex-direction: column;
            padding:10px 10px;
            box-sizing: border-box;
            margin-bottom:20px;
            margin-top:20px;
            font-size:24px;
        }
        
    }
}



.container-fluid{
    width:100%;
    margin:0;
    overflow-x:hidden;
    
    .row{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        @media screen and (max-width:640px){
            @include setcolumnsForSmallDevice();
            

        }
        @media screen and (max-width:1007px) and (min-width:641px){
            @include setcolumnsForMediumDevice();


        }
        @media screen and (min-width:1008px){
            @include setcolumnsForLargeDevice();

        }
        
    }
}



.container{
    max-width:80%;
    margin:auto;
    overflow-x:hidden;
    .row{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        @media screen and (max-width:640px){
            @include setcolumnsForSmallDevice();
            

        }
        @media screen and (max-width:1007px) and (min-width:641px){
            @include setcolumnsForMediumDevice();


        }
        @media screen and (min-width:1008px){
            @include setcolumnsForLargeDevice();

        }
        
    }
}
