body{
    overflow-x:hidden;
    margin:0;
}
.navbar{
    width:100%;
    margin:0px;
    display:flex;
    justify-content:space-between;
    padding:20px;
    align-items:center;
}

.nav-logo{
    display:flex;
}
.nav-list{
    list-style-type:none;
    display:flex;
    
}
.nav-left{
    justify-content: start;
}
.nav-center{
    justify-content: center;
}
.nav-right{
    justify-content: end;
}

.nav-item{
    margin:auto 10px;
}

@media screen and (max-width:1006px){
    .nav-list-none{
        display:none;
    }
    
}


.fixed-nav{
    position:absolute;
    left:0;
    top:0;
}